@use "../abstracts/colors" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Bebas Neue", cursive;
  overflow: hidden;
}

main {
  position: relative;
}
