$color-neutral--dark: #212529;
$color-neutral--xdark: #111315;

$color-neutral--light: #ffffff;

$color-primary: #4dabf7;
$color-primary--light: #74c0fc;

$color-correct: #69db7c;

$color-included: #ffd43b;

$color-incorrect: #ff8787;
